:root {
  --primary-color: #0C7B09;
  --secondary-color: #E62828;
  --tertiary-color: #FBFF00;
  --dark-primary: #095E07;
  --light-primary: #59B748;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  margin: 0;
}

h1 {
  color: white;
  text-shadow: 2px 2px var(--secondary-color);
  font-size: 3.052em;
  display: inline-block;
  margin: 0.5em;
}

.topnav {
  overflow: hidden;
  background-color: var(--primary-color);
}

.topnav a {
  border: 1px solid var(--primary-color);
  float: left;
  color: white;
  text-shadow: 1px 1px var(--secondary-color);
  text-align: center;
  padding: 14px 16px;
  margin-right: 1.953em;
  margin-top: 0.5em;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--dark-primary);
  border-color: var(--tertiary-color);
  border-radius: 5px;
}

.topnav a.active {
  background-color: var(--light-primary);
  text-shadow: 1px 1px var(--tertiary-color);
}

.topnav-right {
  float: right;
  margin-right: 5.96em;
}